[Unit]
Description=Wearable MQTT publisher (simulated devices)
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
User=abhaykulkarni
WorkingDirectory=/home/abhaykulkarni/health-anomaly-project
Environment="PATH=/home/abhaykulkarni/health-anomaly-project/venv/bin:/usr/bin:/bin"
ExecStart=/home/abhaykulkarni/health-anomaly-project/venv/bin/python3 mqtt/publisher.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
